.library {
    grid-column: library-s/library-e;
    grid-row: 1/-1;

    overflow: hidden;
    width: 100%;
    height: 100%;

    position: relative;

    &__container {
        
        display: grid;
        grid-template-rows: [title-s] 100px [title-e courses-s] repeat(auto-fit, 1fr) [courses-e];
        grid-row-gap: 22px;
        
        padding-top: 7%;
        padding-left: 5%;
        padding-bottom: 76px;
        overflow-y: scroll;

        height: 100%;
        width: 100%;

        position: absolute;
        right: -10px;

        &__title {
            color: $color-blue;
            font-family: 'Alegreya';
            font-size: 34px;
            font-weight: bold;
            border-left: 2px solid $color-blue;
            padding: 20px 40px;
        }
    }
}
