.schedule {
    grid-column: schedule-s/schedule-e;
    grid-row: 1/-1;
    position: relative;
    height: 100%;
    width: 100%;
    
    display: grid;
    grid-template-rows: [space-one-s] 1fr [space-one-e title-s] 100px [title-e] repeat(5, 80px) [progress-s] 1fr [progress-e];
    grid-row-gap: 22px;
    align-items: center;
    justify-items: center;

    align-content: center;

    &__title {
        grid-row: title-s/title-e;
        color: white;
        font-family: 'Alegreya';
        font-size: 20px;
        text-align: center;
        border-left: 2px solid $color-subtle-gray;
        padding-left: 30px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
